
.card {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 10px;
    margin: 10px 0;
  }
  
  .card-item {
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
  }